[submodule "websocketpp"]
	path = dep/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "tmx"]
	path = dep/tmx
	url = https://github.com/baylej/tmx/
[submodule "dep/uWebSockets"]
	path = dep/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets
