[submodule "websocketpp"]
	path = dep/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "tmx"]
	path = dep/tmx
	url = https://github.com/baylej/tmx/
[submodule "dep/uWebSockets"]
	path = dep/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets
[submodule "dep/ProtoBuf"]
	path = dep/ProtoBuf
	url = https://github.com/hultqvist/ProtoBuf.git
[submodule "dep/libuv"]
	path = dep/libuv
	url = https://github.com/libuv/libuv
